*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
    font-family: "Poppins";
    background-color: #0F0F0F;
    /* overflow: hidden; */

}
#head{
    color: white;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* gap: 8px; */
    /* height: 7em; */
    padding: 10px;
    
}
/* main heading */
#nlrlinks{
    display: flex;
    font-size: 2.5em;
    font-weight: 400;
}
h3{
     color: #FFD700;
     font-size: 0.9rem;
     text-align: center;
     font-weight: 300;
    
    }
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 12px;
    padding: 10px;
    transition: all 0.2s ease;
}
a{
    text-decoration: none;
    color: #00FF7F;
    font-weight: 500;
    font-size: 1rem;

}
.web{
    border: 2px solid black;
    width: 90%;
   max-width: 400px;
    text-align: center;
    padding: 8px;
    margin: 20px auto;
    color:white;
    background-color: black;
    transition: all 0.3s ease;
}
i{
    color: #00FFFF;
    font-size: 1.5rem;
    transition: all 0.3s ease;

}
p{
 color: #F1F1F1   
}
i:hover{
  filter: drop-shadow(0 0 6px #00ffff);
  transform: scale(1.2);

}
a:hover{
    color:#FFD700
}
.web:hover{
  background-color: #1a1a1a;
  color: #FFD700;
  transform: scale(1.05);
  box-shadow: 0 0 10px #00ffff66;
}
img{
    display: block;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    /* margin-left: 600px; */
    margin-bottom: 10px auto  ;

}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    /* text-align: center; */
    background-color: #1F1F1F ;
    padding: 20px;
}
#footer p{
    width:auto;
    text-align: center;
    
}
@media(max-width: 600px){
  #nlrlinks{
    font-size: 1.5rem;
  }
  h3{
    font-size: 0.8rem;
  }
  .web{
    width: 95%;
    font-size: 0.9rem;
  }
  i{
    font-size: 1.3rem;
  }
}

@media (min-width: 601px) and (max-width: 1024){
  #nlrlinks{
font-size: 2rem;
  }
  h3{
    font-size: 1rem;
  }
  .web{
    width: 80%;
    max-width: 500px;
  }
}

@media (min-width: 1025){
  #nlrlinks{
    font-size: 2.5rem;
  }
  h3{
    font-size: 1rem;
  }
  .web{
    width: 25em;
  }
}